# Ignore code workspace.
*.code-workspace

# Ignore target builds.
/target

# Ignore log files.
/logs
/logs/*.log

# Ignore fractal settings files.
fractal_settings.toml

# Ignore notes file.
notes.txt

