# Ignore code workspace.
*.code-workspace
/.vscode

# Ignore target builds.
/target

# Ignore log files.
/logs
/logs/*.log

# Ignore fractal settings files.
/my_fractals

# Ignore notes file.
notes.txt
